asyncio==3.4.3
boto3==1.35.53
botocore==1.35.53
certifi==2024.8.30
charset-normalizer==3.4.0
confluent-kafka==2.6.1
grpcio==1.67.1
grpcio-tools==1.67.1
idna==3.10
jmespath==1.0.1
m3u8==6.0.0
protobuf==5.28.3
pycryptodome==3.19.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.32.3
s3transfer==0.10.3
six==1.16.0
urllib3==2.2.3
